
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/* Title Section */
#title .container-fluid {
  background-color: #ff4c68;
  padding: 3% 15% 7%;
  text-align: left;
}

/* Download-Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.iphone6 {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px) {
  #title .container-fluid {
    text-align: center;
  }

  #navbarText  {
    text-align: right;
  }

  .iphone6 {
    position: static;
    transform: rotate(0);
  }
}

/* Features Section */
#features {
  position: relative;
}

.featureBox {
  padding: 2.5%;
}

.featuresIcons {
  font-size: 3rem;
  color: #ef8172;
}

.featuresIcons:hover {
  color: #ff4c68;
}

.features-title {
  font-size: 1.5rem;
}

/* Testimonials Section */
.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */
#press {
  padding-bottom: 3%;
}

.press-logos {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action Section */
#cta {
  background-color: #ff4c68;
}

/* Footer Section */
.contactIcons{
  margin: 20px 10px;
}

/* Title and Body */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f
}

/* Headings */
.big-heading {
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/*Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ef8172;
  color: #fff;
}

.white-section {
  background-color: #fff;
}
