
/* Title Section */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.titleContainer {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/* Download-Buttons */
.download-btn {
  margin: 5% 3% 5% 0%;
}

/* Title Image */
.iphone6 {
  transform: rotate(25deg);
  width: 55%;
  position: absolute;
  right: 30%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone6 {
    position: static;
    transform: rotate(0);
  }
}

/* Features Section */
#features {
  padding: 10% 15%;
  background-color: #fff;
  position: relative;
}

.featureBox {
  padding: 2.5%;
  text-align: center;
}

.featuresIcons {
  font-size: 3rem;
  color: #ef8172;
}

.featuresIcons:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logos {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action Section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-text {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  text-align: center;
  padding: 7% 15%;
}

.contactIcons{
  margin: 20px 10px;
}

/* Headings and Body */
h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
}

h2 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 500;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f
}
